.title {
  font-size: 30px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-self: center;
  justify-self: center;
}

.main{
  width: 100vw;
  max-width: 2000px;
  height: 60vh;
  justify-self:center;
  align-self:center;

  text-align: center;
  align-content: center;
  justify-content: center;
}

.primarymenu{
  display: inline-block;
  background-color: aquamarine;
  height: 100%;
}

.selectbox{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;

  float: left;
}

.txtinpt{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;

  float: left;
}

.pgs{
  width: 70px;
}

.recs{
  width: 50px;
}

.bookinfo{
  width: 90%;
  height: 20%;
  margin-left: 5%;
  margin-top: 5%;

  background-color: azure;
}

#template{
  visibility: collapse;
}

.resultbox{
  width: 90%;
  height: 90%;
  margin-left: 5%;
  margin-top: 5%;
  overflow: auto;
  background-color:beige;
}